{% extends 'base.html' %}
{% block title %}Match: {{ match.home_team }} vs {{ match.away_team }}{% endblock %}
{% block content %}
  <h2>{{ match.home_team }} vs {{ match.away_team }}</h2>
  <p><strong>Date:</strong> {{ match.match_date }}</p>
  {% if match.score %}
    <p><strong>Score:</strong> {{ match.score }}</p>
  {% endif %}

  {% if perms.matches.schedule_match %}
    <form action="{% url 'edit-match' match.pk %}" method="get" style="display:inline;">
      <button type="submit" class="my-button">Edit</button>
    </form>

  {% endif %}

  <p><a href="{% url 'list-match' %}">← Back to Matches</a></p>
{% endblock %}